.avatar {
  padding: 10px;
}

.admin {
  max-width: 150px;
  min-width: 150px;
  height: 150px;
  padding-left: auto;
  margin-left: 15%;
  margin-top: 15px;
}

.institution {
  position: absolute;
  max-width: 80px;
  min-width: 80px;
  margin-top: -80px;
  margin-left: 80px;
}

.avatar .img-thumbnail {
  background-color: #0085ff;
  border: 4px solid white;
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.avatar .img-thumbnail:hover {
  padding: 0px;
  background-color: #fff;
}