.btn{
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, .3);
  transition: all 0.1s ease;
}

.btn-primary {
  background-color: #0085ff !important;
}

.btn-primary:hover {
  background-color: #006acc !important;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #003567 !important;
}

.btn-black {
  background-color: #383f48 !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #0085ff;
  border: 1px solid rgba(0, 0, 0, .3);
}

.pagination>li>a, .pagination>li>span {
  color: #4a72b2;
}

.btn, 
.form-control, 
.panel, 
.input-group-addon, 
.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span,
.btn-group-xs>.btn, .btn-group-lg>.btn, .btn-lg,
.panel-heading,
.modal-content,
.alert {
  border-radius: 0px;
}

#menu-toggle:hover {
  background-color: #4a72b2;
  color: #fff;
}