/*
	- Document: Hoja de estilos para graficos de la seccion de resultados
	- Version:  0.0.1
	- Client:   intAR21
	- Author:   Diego Callejas
*/

/* Graficos */
.dc-chart g.row text {
    fill: #000;
    cursor: pointer
}

#chart-ejercicios text {
    fill: black
}

#chart-alerta {
    display: none
}

#chart-resultados, #chart-alerta {
    padding: 0
}

/* Tabla */
table#data-table td:nth-child(3), table#data-table th:nth-child(3),
table#data-table td:nth-child(4), table#data-table th:nth-child(4),
table#data-table td:nth-child(5), table#data-table th:nth-child(5) {
    text-align: center
}

table#data-table td:nth-child(1), table#data-table th:nth-child(1),
table#data-table td:nth-child(4), table#data-table th:nth-child(4) {
    width: 100px
}

table#data-table td:nth-child(2), table#data-table td:nth-child(4) {
    background: #eee
}

table#data-table th, h3 {
    color: #4a72b2;
    border-bottom-color: #d3dded !important;
}

thead {
  background-color: #eff3f8;
}

tbody, h1 {
  color: #434c56;
}

h1 {
  margin-left: 10px;
}

/* Impresion */
@media print {
    body * {
        visibility: hidden;
    }
    #print .dc-chart, #print .dc-chart *, #datatable_wrapper .row:nth-child(2) * {
        visibility: visible;
    }
    #print {
        position: absolute;
        left: 0;
        top: 0;
    }
    a:link:after, a:visited:after, th:after {
        content: "";
    }
}
