/*!
* Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
* Copyright 2013-2016 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
*/

body {
  overflow-x: hidden;
  font-family: 'open sans', helvetica;
}

footer {
  color: #888;
  padding: 0px 30px;
}

/* Toggle Styles */

#wrapper {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 56px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #0085ff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-left: 6px solid #383f48;
}

#wrapper.toggled #sidebar-wrapper {
  width: 56px;
}

#page-content-wrapper {
  width: 100%;
  position: relative;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 0.1s ease;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding-left: 30px;
  transition: all 0.1s ease;
}

.sidebar-nav li a .fa {
  display: inline;
  text-align: center;
  position: absolute;
  margin-top: 10px;
  margin-left: -52px;
  font-size: 13pt;
  text-align: center;
}

.sidebar-nav li div a {
  background-color: #4a72b2;
}

.sidebar-nav li a:hover, .sidebar-nav li a.active {
  text-decoration: none;
  color: #0085ff;
  background: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 56px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 56px;
  }
  
  #wrapper.toggled #sidebar-wrapper h4 {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    margin-bottom: 18px;
  }
  
  #wrapper.toggled #sidebar-wrapper .avatar {
    padding-left: 0px;
    margin-top: auto;
  }
  
  #wrapper.toggled #sidebar-wrapper .admin, #wrapper.toggled #sidebar-wrapper .img-thumbnail {
    height: 35px;
  }
  
  #wrapper.toggled #sidebar-wrapper .img-thumbnail {
    padding: 0px;
    background-color: #fff;
  }
  
  #wrapper.toggled #sidebar-wrapper .institution {
    margin: auto;
  }
  
  #page-content-wrapper {
    padding: 15px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  
}

  #wrapper.toggled #sidebar-wrapper h4 {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    margin-bottom: 18px;
  }
  
  #wrapper.toggled #sidebar-wrapper .avatar {
    padding-left: 0px;
    margin-top: auto;
  }
  
  #wrapper.toggled #sidebar-wrapper .admin, #wrapper.toggled #sidebar-wrapper .img-thumbnail {
    height: 35px;
  }
  
  #wrapper.toggled #sidebar-wrapper .img-thumbnail {
    padding: 0px;
    background-color: #fff;
  }

  
  #wrapper.toggled #sidebar-wrapper .institution {
    margin: auto;
  }

.user {
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14pt;
}

::-webkit-scrollbar{
  width: 10px;
  background: #383f48;
}
::-webkit-scrollbar-button{
  width:8px;
  height: 0px;
}
::-webkit-scrollbar-track{
  background:#383f48;
  border:0px solid #383f48;

  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: #4a72b2;

 
  border:thin solid #4a72b2;
}
::-webkit-scrollbar-thumb:hover{
    background: #4a72b2;
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77,161,112,.6);
}

.breadcrumb a {
  color: white;
}