input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-calendar-picker-indicator {
   display: none;
}

.input-group {
  display: inherit;
}

form label {
  color: #4a72b2;
}

.modal-header {
  color: #383f48;
}

.input-group .form-control {
  float: none;
}