.bs-jumbotron {
  background-image: url('../images/PortadaDocentes.jpg');
  background-size: cover;
  background-position: 50% 50%;
  height: 200px;
  display: block;
  margin-left: -33px;
  margin-right: -33px;
  margin-top:-18px;
  width: auto;
  color: #eee;
}

.bs-jumbotron h1 {
  margin: 0px;
  text-align: right;
  padding: 25px;
}

.jumbotron {
  margin-top: -40px;
  border-radius: 0px !important;
  background-color: #d3dded;
}

.panel-primary {
    border-color: #0085ff;
}

.panel-primary > .panel-heading {
    border-color: #0085ff;
    color: #fff;
    background-color: #0085ff;
}



.panel-grey {
    border-color: #6b6b6b;
}

.panel-grey > .panel-heading {
    border-color: #6b6b6b;
    color: #fff;
    background-color: #6b6b6b;
}

.panel-blue {
    border-color: #567089;
}

.panel-blue > .panel-heading {
    border-color: #567089;
    color: #fff;
    background-color: #567089;
}

.panel-green {
    border-color: #009aa3;
}

.panel-green > .panel-heading {
    border-color: #009aa3;
    color: #fff;
    background-color: #009aa3;
}

.panel-aqua {
    border-color: #0092c4;
}

.panel-aqua > .panel-heading {
    border-color: #0092c4;
    color: #fff;
    background-color: #0092c4;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #0085ff;
}